.usersCard {
    border-radius: 10px
}

.listOfUsers:hover {
    background: rgba(145, 145, 145, 0.10);
}

.tableTitle {
    font-size: 20px;
}

.badgeTitle {
    margin-left: 10px;
    background: rgba(41,154,194);
    border-radius: 15px;
    padding: 6px 15px !important;
    color: #eeeee4;
}

.nameCell {
    display: flex;
    flex-direction: row;
    align-items:center
}

.userImg {
    width: 32px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px
}

.marginRight {
    margin-right: 15px;
}

.centerInput {
    display: flex;
    justify-content: center;
}

.editInput {
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    background: #f2f2f2;
    border-radius: 10px;
    width:250px !important;
    outline: none !important;
    box-shadow: none !important;
}

